@page "/Home"
<section class="hero is-medium is-primary is-bold">
      <div class="hero-body">
        <div class="container">
          <h1 class="title">Welcome back</h1>
          <h2 class="subtitle">Please select one of the <strong>buttons</strong>, to navigate.</h2>
        </div>
      </div>
    </section>
  
@code {
}